<div class="reviewContainer">
    <h1 class="header">Оставьте нам отзыв</h1>
    <form action="/review" method="post">
        <textarea required name="review" id="review" cols="30" rows="10"></textarea>
        <div>
            <a href="/">
                <button class="button" type="button">Пропустить</button>
            </a>
            <button class="button" type="submit">Отправить</button>
        </div>
    </form>
</div>
